<div class='schedule' data-schedule-id="<%= @schedule.id %>">
  <div id="clone-date-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-schedule-id="<%= @schedule.id %>">
    <h2 id="modalTitle">Please enter a date:  </h2>
    <%= form_for [:clone, @schedule] do |f| %>
      <input type='date' name='date' />
      <a class='save' href='#' class='save-icon' title='Save'><i class='fi-check'></i></a>
    <% end %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div class='row header'>
    <h1>
      <div class='date columns large-8 large-offset-2'>
        <span title='Click here to add a new schedule item'><%= @schedule.display_date %></span>
      </div>
      <div class='columns large-2 hidden edit'>
        <a data-reveal-id='clone-date-modal' id='copy-schedule' href='#'><i class='fi-page-copy'></i></a>
      </div>
    </h1>
  </div>

  <div class='activities'>
    <div class='hidden' id='new-activity'>
      <%= render partial: 'activities/form', locals: { activity: Activity.new, schedule: @schedule } %>
    </div>
    <ol>
      <%= render @schedule.ordered_activities %>
    </ol>
  </div>
</div>
