<!DOCTYPE html>
<html>
<head>
  <title>DBC Daily Scheduler</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Droid+Serif' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class='row content'>
    <div class='large-12 small-12 columns text-center center'>
      <%= yield %>
    </div>
  </div>

  <footer class='footer'>
    <div class='row'>
      <div class='large-4 small-12 columns left'>
        <%= image_tag 'dbc-logo-horizontal.png', alt: 'DevBootcamp Logo' %>
      </div>
    </div>
  </footer>
</body>

</html>
