<!DOCTYPE html>
<html>
<head>
  <title>DBC Daily Scheduler</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Droid+Serif' %>

  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.ttf' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.js' %>
  <%= javascript_include_tag 'https://code.jquery.com/ui/1.11.4/jquery-ui.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js' %>
  <%= javascript_include_tag 'http://momentjs.com/downloads/moment.min.js' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class='row content'>
    <div class='small-12 columns text-center center'>
      <%= yield %>
    </div>
  </div>

  <footer class='footer'>
    <div class='row'>
      <div class='small-4 columns left'>
        <%= link_to schedules_path do %>
        <%= image_tag 'dbc-logo-horizontal.png', alt: 'DevBootcamp Logo' %>
        <% end %>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>

</html>
